name: Docker Build and Push to GitHub Container Registry

on:
  push:
    branches:
      - master  # Или другая ветка, которую вы хотите отслеживать
  pull_request:
    branches:
      - master  # Или другая ветка, на которую поступают PR

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      # 1. Проверка исходного кода
      - name: Checkout code
        uses: actions/checkout@v3

      # 2. Логин в GitHub Container Registry
      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      # 3. Построение Docker-образа
      - name: Build Docker image
        run: |
          docker build -t ghcr.io/MR-Kornev-Alexey/plant-me:latest .

      # 4. Публикация Docker-образа в GitHub Container Registry
      - name: Push Docker image
        run: |
          docker push ghcr.io/MR-Kornev-Alexey/plant-me:latest

      # 5. Опционально: удаление образа локально после пуша
      - name: Clean up local Docker image
        run: |
          docker rmi ghcr.io/MR-Kornev-Alexey/plant-me:latest